@model IEnumerable<Azurite.Store.Wrappers.CategoryAttributeW>
@using Azurite.Store.Common;

@foreach (var attr in Model)
{
    <div class="panel-gold">
        <div class="panel-heading">
            @attr.AttributeName

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#filterCategory-@attr.Id" aria-expanded="false" aria-controls="navbar">
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-chevron-up"></i>
            </button>
        </div>
        <div id="filterCategory-@attr.Id" class="side-nav navbar-collapse collapse">
            <ul>
                @foreach (var productAttr in attr.ProductAttributes.DistinctBy(x => x.Value))
                {
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ProductAttributes" value="@productAttr.Value" onchange="changeAttrFilters()" />
                                @productAttr.Value
                            </label>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
}
