
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h3>@ViewRes.SCIndex.Title</h3>
                <span class="devider"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="cart-products">

        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/App/ShoppingCart/shopping_cart.js"></script>
}

