@model IEnumerable<Azurite.Store.Wrappers.CategoryAttributeW>

@foreach (var attr in Model)
{
    <div class="panel-gold">
        <div class="panel-heading">@attr.AttributeName</div>
        <div class="side-nav">
            <ul>
                @foreach (var productAttr in attr.ProductAttributes)
                {
                    <li>
                        <a href="#@productAttr.Id">@productAttr.Value</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}
