@model IEnumerable<Azurite.Store.Wrappers.CategoryW>

<ul class="megamenu dropdown">
    <li class="">
        <a class="megamenu-subdepartment-link col-xs-2" href="#">Smart технологии</a>
        <div class="megamenu-box col-xs-10">
            <div class="megamenu-block">
                <div class="megamenu-column">
                    <div class="megamenu-link is-heading">Спорт и здраве</div>
                    <a href="/smartwatches-i-aksesoari/" class="megamenu-link">Смарт часовници</a>
                    <a href="/smartwatches-i-aksesoari/" class="megamenu-link">Каишки и аксесоари</a>
                    <a href="/smartwatches-i-aksesoari/" class="megamenu-link">Фитнес гривни</a>
                    <a href="/fitnes-aksesoari-za-monitoring/" class="megamenu-link">Фитнес аксесоари за мониторинг</a>
                    <a href="/pedometri/" class="megamenu-separator megamenu-link">Педометри</a>
                    <div class="megamenu-link is-heading">За теб</div>
                    <a href="/mobilni-telefoni/" class="megamenu-link">Смартфони 4G</a>
                    <a href="/prenosimi-tonkoloni/" class="megamenu-link">Преносими тонколонки</a>
                    <a href="/nastolni-kompjutri/" class="megamenu-link">All in One PC</a>
                    <a href="/sportni-videokameri/" class="megamenu-link"> Спортни видеокамери</a>
                    <a href="/audio-slushalki/" class="megamenu-link">Безжични слушалки</a>
                    <a href="/dronove-aksesoari/" class="megamenu-link">Дронове</a>
                    <a href="/drugi-dzhadzhi/" class="megamenu-link">Други джаджи</a>
                </div>
                <div class="megamenu-column">
                    <div class="megamenu-link is-heading">За дома</div>
                    <a href="/televizori/" class="megamenu-link">Телевизори 4K</a>
                    <a href="/tsentrali-i-moduli-smart-home/" class="megamenu-link">Централи и модули Smart home</a>
                    <a href="/multimedijni-ple-ri/" class="megamenu-link">Мултимедийни плеъри</a>
                    <a href="/kameri-za-nabljudenie/" class="megamenu-link">Камери за наблюдение</a>
                    <a href="/bebefoni/" class="megamenu-link">Бебефони</a>
                    <a href="/prahosmukachki/" class="megamenu-link">Робот прахосмукачки</a>
                </div>
            </div>
            <a class="megamenu-block megamenu-banner" href="http://www.emag.bg/smartwatches-i-aksesoari/" target="_self">
                <img src="https://s0emagst.akamaized.net/layout/bg/images/db/7/9944.jpg" data-bid="334" data-cid="961" alt="">
            </a>
        </div>
    </li>
    <div class="clearfix"></div>
    <li class="">
        <a class="megamenu-subdepartment-link col-xs-2" href="#">Телефони, Таблети</a>
        <div class="megamenu-box col-xs-10">
            <div class="megamenu-block">
                <div class="megamenu-column">
                    <div class="megamenu-link is-heading">Мобилни телефони: бранд</div>
                    <a href="/mobilni-telefoni/samsung/" class="megamenu-link">  Samsung  </a>
                    <a href="/mobilni-telefoni/apple/" class="megamenu-link"> Apple </a>
                    <a href="/mobilni-telefoni/lenovo/" class="megamenu-link"> Lenovo </a>
                    <a href="/mobilni-telefoni/sony/" class="megamenu-link"> Sony </a>
                    <a href="/mobilni-telefoni/lg/" class="megamenu-separator megamenu-link"> LG </a>
                    <div class="megamenu-link is-heading">Телефони: операционна система</div>
                    <a href="/mobilni-telefoni/" class="megamenu-link"> Android </a>
                    <a href="/mobilni-telefoni/" class="megamenu-link"> iOS </a>
                    <a href="/mobilni-telefoni/" class="megamenu-separator megamenu-link"> Windows </a>
                    <div class="megamenu-link is-heading">Таблети: бранд</div>
                    <a href="/tablet/samsung/" class="megamenu-link"> Samsung </a>
                    <a href="/tablet/apple/" class="megamenu-link"> Apple </a>
                </div>
                <div class="megamenu-column">
                    <a href="/tablet/lenovo/" class="megamenu-link"> Lenovo </a>
                    <a href="/tablet/asus/" class="megamenu-separator megamenu-link"> Asus </a>
                    <div class="megamenu-link is-heading">Лаптопи: бранд</div>
                    <a href="/laptopi/lenovo/" class="megamenu-link"> Lenovo </a>
                    <a href="/laptopi/asus/" class="megamenu-link"> Asus </a>
                    <a href="/laptopi/apple/" class="megamenu-link">  Apple  </a>
                    <a href="/laptopi/hewlett_packard/" class="megamenu-link"> HP </a>
                    <a href="/laptopi/dell/" class="megamenu-separator megamenu-link"> Dell </a>
                    <div class="megamenu-link is-heading">Лаптопи: процесор</div>
                    <a href="/laptopi/" class="megamenu-link">Intel Core i3 </a>
                    <a href="/laptopi/" class="megamenu-link">Intel Core i5 </a>
                    <a href="/laptopi/" class="megamenu-link">Intel Core i7 </a>
                </div>
                <div class="megamenu-column">
                    <div class="megamenu-link is-heading">Промоции</div>
                    <a href="/mobilni-telefoni/" class="megamenu-link">Телефони</a>
                    <a href="/tablet/" class="megamenu-link">Таблети</a>
                    <a href="/laptopi/" class="megamenu-link">Лаптопи</a>
                    <a href="/laptopi/" class="megamenu-link">Лаптопи с Windows</a>
                </div>
            </div>
            <a class="megamenu-block megamenu-banner" href="http://www.emag.bg/mobilni-telefoni/" target="_self">
                <img src="https://s0emagst.akamaized.net/layout/bg/images/db/6/9672.jpg" data-bid="1" data-cid="1" alt="">
            </a>
        </div>
    </li>
</ul>
