@model IEnumerable<Azurite.Store.Wrappers.CategoryAttributeW>
@using Azurite.Store.Common;

@foreach (var attr in Model)
{
    <div class="panel-gold">
        <div class="panel-heading">@attr.AttributeName</div>
        <div class="side-nav">
            <ul>
                @foreach (var productAttr in attr.ProductAttributes.DistinctBy(x => x.Value))
                {
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ProductAttributes" value="@productAttr.Value" onchange="changeAttrFilters()" />
                                @productAttr.Value
                            </label>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
}
