@model IEnumerable<Azurite.Store.Wrappers.CategoryW>

@{
    ViewBag.Title = "Categories";
}


<ul id="categories-carousel" class="collection-carousel">
    @foreach (var item in Model) {
        <li>
            <div class="thumbnail">
                <a href="#@item.Id" class="categoryThumb">
                    <div class="imageWrapper">
                        <img src="@item.ImagePath" alt="feature-collection-image">
                        <div class="masking">
                            <a href="product-grid-left-sidebar.html" class="btn viewBtn">View Prodocts</a>
                        </div>
                    </div>
                    <div class="caption">
                        <h4>@item.Name</h4>
                        <p>@item.Description</p>
                    </div>
                </a>
            </div>
        </li>
    }
</ul>
