@model Azurite.Store.Wrappers.CategoryW
@using Azurite.Store.Common

@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h3>@Model.Name</h3>
                <input id="categoryId" name="categoryId" value="@Model.Id" type="hidden" />
                <span class="devider"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
            <div class="panel panel-gold">
                <div class="panel-heading">Product Categories</div>
                <div id="subCategoriesContainer" class="panel-body">

                </div>
            </div>
            <div class="panel panel-gold">
                <div class="panel-heading">Filter by Price</div>
                <div id="priceFilter" class="panel-body">

                </div>
            </div>
            <div id="categoriesAttrContainer">

            </div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
            <div class="row filterArea">

            </div>
            <div id="productsContainer" class="row">

            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/App/Categories/category_products.js"></script>

}
