
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <div class="panel panel-default">
            <div class="panel-heading">Product Categories</div>
            <div class="panel-body subCategoriesContainer">

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Filter by Price</div>
            <div class="panel-body priceFilter">

            </div>
        </div>
        <div class="categoriesAttrContainer">

        </div>
    </div>
    <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">

        </div>
        <div class="row productsContainer">

        </div>
    </div>
</div>
<script src="~/Scripts/App/Categories/categories.js"></script>
